<h1>Coupon Form</h1>

<%= form_for @coupon do |form| %>
  <%= form.label :coupon_code %><br>
  <%= form.text_field :coupon_code %> <br>
  <%= form.label :store %><br>
  <%= form.text_field :store %><br>

  <%= form.submit text="Submit Coupon"%>

<% end %>
